

body {
  background-image:url('background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar {
  margin-bottom: 0;
  background-color: #3c3c3c;
}
.container{
  margin-top: 65px;
}

.card{
height: 320px;
position: relative;
margin-bottom: 50px;
margin-left: 250px;
margin-top:200px;
box-shadow: 10px 10px 5px black;
opacity: 0.7;
}
.card .card-header {
  height: 110px;
}
.card ul {
  font-style: italic;
  font-size: 1.25rem;
}
.card h6 {
  margin-top: 5px;
}
.navbar-brand{
  font-size: 2em;
  font-weight: bold;
  margin-left: 600px;
  font-family: 'Lobster', cursive;
}
.navbar{
  color: white;
}
.btn2{
  position: relative;
  margin-left: 40%;
  margin-top:20px;
}
.navbar-custom {
  background-color: black;

}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
button[type="button"]:disabled
{
color:white;
}
select:disabled
{
color:white;
}
